- @business_admins.each do |admin|
  = "#{admin.username}"
  = button_to 'Demote Admin', business_admin_path(admin), class: 'button success hollow button'
= link_to 'Add Business Admin', new_business_admin_path
