%h4 Current Business Information:
%p Business Name: #{business.name}
%p Business Location: #{business.location}

%div.wrap-button
  %h3= link_to "Update Business Info", edit_business_path(business), class: "button success hollow button"
  %h3= link_to "Manage Business Admins", edit_business_admin_path(business), class: "button success hollow button"
